<%
    switch (status) {
    case "question":
%>
    <section class="card question">
        <h2><%= questions.at(questionsIndex).get("category") %></h2>
        <p><%= questions.at(questionsIndex).get("question") %></p>
    </section>
<%
        break;
    case "closed":
%>
    <section class="card closed">
        <section class="button-add-second-card"></section>
    </section>
<%
        break;
    case "closed_two":
%>
    <section class="card closed">
    </section>
<%
        break;
    case "open":
%>
    <section class="card open">
        <h2><%= hand[selected].get("category") %></h2>
        <p><%= hand[selected].get("answer") %></p>
        <% if (secondSelected !== null) { %>
            <hr>
            <h2><%= hand[secondSelected].get("category") %></h2>
            <p><%= hand[secondSelected].get("answer") %></p>
        <% } %>
    </section>
<%
        break;
    default:
%>
    <section class="card black">
        <h2>Stel je vraag!</h2>
    </section>
    <% hand.forEach(function (card, index) { %>
        <section class="card overview" data-index="<%= index %>">
            <h2><%= card.get("category") %></h2>
            <p><%= card.get("answer") %></p>
        </section>
    <% }); %>
<% } %>
<section style="font-size: 0.7em; margin: 10px">
        <p>Kijk voor meer informatie op <a href="https://www.codefor.nl/">www.codefor.nl</a>.</p>
</section>
